<header>

	<div class="jumbotron primary">

		<div class="container">

			<div class="row">

				<div class="col-xs-12 col-sm-2">
					<img src="{{assets.img.logo}}" class="img-responsive">
				</div>

				<div class="col-xs-12 col-sm-10">
					<h1>AAMCO Greater Delaware Valley</h1>
					<h2>Serving the Pennsylvania, New Jersey, and Delaware Area</h2>
				</div>

			</div><!-- /.row -->

		</div><!-- /.container -->

	</div><!-- /.jumbotron -->

</header><!-- /header -->

<div class="container">

	<div class="row">
		<div class="col-xs-12">
			<div id="map-canvas"></div>
		</div>
	</div>

	<div class="row">

	</div>

</div>
